<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details - Fourways</title>
    <link href="/styles/home.css" rel="stylesheet">
    <link href="/styles/navbar.css" rel="stylesheet">
    <link href="/styles/cart.css" rel="stylesheet">
    <script type="module" src="/scripts/home.js" defer></script>
    <script type="module" src="/scripts/productCard.js"></script>

</head>

<body>
    <%- include('partials/navbar') %>
        <main class="page-wrapper">

            <div class="product-details__container">
                <div class="product-cards__container">
                    <!-- product card -->
                    <div class="product-card__container" id="product-card__container">
                        <div class="product-card__left">
                            <p class="product-card__price">
                                £<%= item.price_250 / 100 %>
                            </p>
                            <div class="product-card__btn-container">
                                <!-- run a js function to add to the cart session -->
                                <button data-id="<%= item.stripe_price_id %>"
                                    class="modern-btn btn-2 add-to-cart-btn">Add
                                    to
                                    cart</button>
                            </div>
                        </div>
                        <div class="product-card__right">
                            <div class="product-card__text-container">
                                <div class="product-card__origin" id="product-card__origin">
                                    <p id="product-card__origin-text">
                                        <%= item.origin %>
                                    </p>
                                </div>
                                <div class="product-card__process" id="product-card__process">
                                    <p id="product-card__process-text">
                                        <%= item.process %>
                                    </p>
                                </div>
                                <div class="product-card__producer" id="product-card__producer">
                                    <p id="product-card__producer-text">
                                        <%= item.producer %>
                                    </p>
                                </div>
                                <div class="product-card__variety" id="product-card__variety">
                                    <p id="product-card__variety-text">
                                        <%= item.variety %>
                                    </p>
                                </div>

                            </div>
                            <div class="product-card__logo-container">
                                <div class="product-card__logo"></div>


                            </div>


                        </div>

                    </div>
                </div>
            </div>

            <h2>What do you need to know</h2>
            <p>
                <%= item.description_summary %>
            </p>

            <h3>The process</h3>
            <p>
                <%= item.description_process %>
            </p>

            <h3>The producer</h3>
            <p>
                <%= item.description_producer %>
            </p>

            <h3>The cultivars</h3>
            <p>
                <%= item.description_cultivars %>
            </p>

            <h3>Any other business</h3>
            <p>
                <%= item.description_other %>
            </p>



            <!-- Cart Drawer -->
            <%- include('cart') %>
                <%- include('partials/grind-modal') %>

                    <!-- Cart Overlay -->
                    <div id="cart-overlay" class="cart-overlay"></div>
        </main>
</body>

</html>